.text-center { text-align: center; }

/* Display */
.flex { display: flex; }
.grid { display: grid; }
.block { display: block; }
.hidden { display: none; }

/* Position */
.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }

/* Flex - Justify content */
.flex.h-center { justify-content: center; }
.flex.h-start { justify-content: flex-start; }
.flex.h-end { justify-content: flex-end; }
.flex.h-between { justify-content: space-between; }
.flex.h-around { justify-content: space-around; }

/* Flex - Align elements */
.flex.v-start { align-items: flex-start; }
.flex.v-end { align-items: flex-end; }
.flex.v-center { align-items: center; }

/* Flex - Direction */
.flex.col { flex-direction: column; }
.flex.col-reverse { flex-direction: column-reverse; }
.flex.row { flex-direction: row; }
.flex.row-reverse { flex-direction: row-reverse; }

/* Flex - Wrap */
.flex.wrap { flex-wrap: wrap; }
.flex.nowrap { flex-wrap: nowrap; }
.flex.wrap-reverse { flex-wrap: wrap-reverse; }

/* Others */
.error-container
{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--danger);
    color: var(--text-light);
}

/* Tests */
.b-red { border: 2px solid red; }
.b-blue { border: 2px solid blue; }
.b-green { border: 2px solid green; }